.inputBox {
    display: flex;
}
.addButton {
    cursor: pointer;
}
.ulContainer {
    list-style-type: none;
}
.checkBoxContainer {
    display: flex;
}

.checked {
    text-decoration: line-through;
}